<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Django Calculator</title>
    <link rel="stylesheet" type='text/css' media="screen" href="{% static 'styles/main.css' %}">
  </head>

  <body>
    <section class="calculator">
      <form for="http://127.0.0.1:8000/"></form>
      <h1>Django Calculator App</h1>
      <a href = "http://127.0.0.1:8000/">balik ke awal</a>
      {% csrf_token %}
      <h3>The result is: {{ result}}</h3>
      
      
    </section>

    <footer>
      
    </footer>
  </body>
</html>